<p id="notice"><%= notice %></p>

<p>
  <strong>Medida:</strong>
  <%= @insumo.Medida %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @insumo.nombre %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @insumo.precio %>
</p>

<%= link_to 'Edit', edit_insumo_path(@insumo) %> |
<%= link_to 'Back', insumos_path %>
